[flake8]
select = B,B9,C,E,F,N,W
ignore = B950,E203,E501,E731,RST201,RST203,RST301,W503,N803,N806
max-line-length = 120
max-complexity = 15
docstring-convention = google
per-file-ignores =
    ehrapy/__init__.py:F401,E402
    ehrapy/api/__init__.py:F401,E402
    ehrapy/api/*/__init__.py:F401
