[submodule "docs/notebooks"]
	path = docs/tutorials/notebooks
	url = https://github.com/theislab/ehrapy-tutorials/
[submodule "submodules/ehrdata"]
	path = submodules/ehrdata
	url = https://github.com/theislab/ehrdata.git
