[tool.poetry]
name = "ehrapy"
version = "0.6.0"  # <<COOKIETEMPLE_FORCE_BUMP>>
description = "Electronic Health Record Analysis with Python."
authors = ["Lukas Heumos <lukas.heumos@posteo.net>", "Philipp Ehmele <philipp_ehm@protonmail.com>"]
license = "Apache2.0"
readme = "README.md"
homepage = "https://github.com/theislab/ehrapy"
repository = "https://github.com/theislab/ehrapy"
documentation = "https://ehrapy.readthedocs.io"
packages = [
    { include = "ehrapy" },
]
classifiers = [
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[tool.poetry.dependencies]
python = ">=3.9.0,<3.12"
rich = ">=10.12.0"
PyYAML = ">=5.4.1"
requests = ">=2.26.0"
scikit-learn = ">=1.0"
category_encoders = ">=2.2.2"
deepl = ">=1.2.0"
pynndescent = ">=0.5.4"
scanpy = {extras = ["leiden"], version = "^1.9.3"}
ipython = ">=7.30.1"
pyhpo = {extras = ["all"], version = ">=3.0.0"}
deep-translator = ">=1.6.1"
scikit-learn-intelex = {version = ">=2021.5.3", optional = true}
medcat = {version = "^1.5.0", optional = true}
fancyimpute = ">=0.7.0"
miceforest = ">=5.3.0"
scikit-misc = ">=0.1.4"
session-info = ">=1.0.0"
lifelines = ">=0.27.0"
missingno = ">=0.5.1"
thefuzz = {extras = ["speedup"], version = ">=0.19.0"}
tabulate = ">=0.9.0"
fhiry = ">=2.1"
numba = ">=0.57.1"
dowhy = ">=0.10"


[tool.poetry.dev-dependencies]
pytest = ">=6.2.5"
coverage = {extras = ["toml"], version = ">=6.0"}
mypy = ">=0.930"
typeguard = ">=2.13.3"
xdoctest = {extras = ["colors"], version = ">=0.15.10"}
pre-commit = ">=2.16.0"
black = {extras = ["jupyter"], version = ">=21.12b0"}
flake8 = ">=4.0.1"
flake8-bandit = ">=2.1.2"
flake8-bugbear = ">=21.11.29"
flake8-docstrings = ">=1.5.0"
flake8-rst-docstrings = ">=0.2.5"
pep8-naming = ">=0.12.1"
pre-commit-hooks = ">=4.0.1"
Pygments = ">=2.10.0"
types-pkg-resources = ">=0.1.3"
types-requests = ">=2.26.2"
types-attrs = ">=19.1.0"
pyenchant = ">=3.2.1"
pyupgrade = ">=2.30.1"

[tool.poetry.extras]
en-core-web-md = ["en-core-web-md"]
scikit-learn-intelex = ["scikit-learn-intelex"]
medcat = ["medcat"]

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx_gallery = "<0.11"
sphinx = ">=4.3.2"
sphinx-autobuild = ">=2021.3.14"
sphinx-gallery = ">0.6,<0.11"
sphinx-autodoc-typehints = ">=1.12.0"
sphinx-last-updated-by-git = ">=0.3.0"
nbsphinx = ">=0.8.7"
sphinxcontrib-bibtex = ">=2.4.1"
sphinx-automodapi = ">=0.14"
nbsphinx-link = ">=1.3.0"
sphinx-copybutton = ">=0.4.0"
myst-parser = ">=1,<3"
sphinx-remove-toctrees = ">=0.0.3"
sphinx-design = ">=0.0.13"
sphinx-click = ">=3.0.0"
furo = ">=2022.3.4"
sphinx-autodoc-annotation = "^1.0.post1"
sphinxcontrib-spelling = ">=7.7,<9.0"

[tool.poetry.scripts]
ehrapy = "ehrapy.__main__:main"

[tool.black]
line-length = 120

[tool.mypy]
strict = false
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
ignore_missing_imports = true
no_strict_optional = true

[tool.isort]
multi_line_output=3
include_trailing_comma=true
balanced_wrapping=true
line_length=120

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning",
    "ignore::anndata._core.anndata.ImplicitModificationWarning"
]

[tool.coverage.paths]
source = ["ehrapy", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["ehrapy"]
omit = [
    "ehrapy/__main__.py",  # Just providing the interface for all click functions
    "ehrapy/data/_datasets.py",  # Difficult to test
]

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
