Sphinx>=4.0.1
pydata-sphinx-theme
sphinx-automodapi>=0.13
sphinx-autodoc-annotation
sphinx_last_updated_by_git
sphinxcontrib-spelling
sphinx-autodoc-typehints
sphinx_gallery
sphinxcontrib-bibtex
nbsphinx
nbsphinx-link
sphinx-copybutton
sphinx-tabs
sphinx-panels
sphinx_click>=3.0.0
click>=8.0.1
