@import "basic.css";

/*Set max width to none so the theme uses all available width*/
.wy-nav-content {
    max-width: none;
}

td:nth-child(1) {
    width: 500px;
}
td:nth-child(2) {
    width: 100%;
}
