name: Publish ehrapy to PyPI

on:
    release:
        types: [published]

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repository
              uses: actions/checkout@v2.3.4
              with:
                  fetch-depth: 2

            - name: Set up Python
              uses: actions/setup-python@v2.1.4
              with:
                  python-version: "3.9"

            - name: Install Poetry
              run: |
                  pip install poetry
                  poetry --version

            - name: Build package
              run: |
                  poetry build --ansi

            - name: Publish package on PyPI
              uses: pypa/gh-action-pypi-publish@v1.4.2
              with:
                  user: __token__
                  password: ${{ secrets.PYPI_TOKEN }}
