name: Run Notebooks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    run:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                notebook: [
                        "docs/tutorials/notebooks/ehrapy_introduction.ipynb",
                        "docs/tutorials/notebooks/mimic_2_introduction.ipynb",
                        "docs/tutorials/notebooks/mimic_2_survival_analysis.ipynb",
                        "docs/tutorials/notebooks/mimic_2_fate.ipynb",
                        "docs/tutorials/notebooks/cohort_tracking.ipynb",
                        # "docs/tutorials/notebooks/mimic_2_causal_inference.ipynb",
                    ]
        steps:
            - uses: actions/checkout@v5
              with:
                  submodules: "true"

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.14"

            - name: Install UV
              run: pip install uv

            - name: Install ehrapy and additional dependencies
              run: uv pip install --system . cellrank nbconvert ipykernel graphviz

            - name: Run ${{ matrix.notebook }} Notebook
              run: jupyter nbconvert --to notebook --execute ${{ matrix.notebook }}
